{{!< default}}
{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}

{{!-- The big featured header, it uses blog cover image as a BG if available --}}
{{> "header"}}

<div id="banner-about-us" class="container-fluid">
    <img src="{{asset "assets/images/team-banner.png"}}" alt="company photo">
</div>

<main id="site-main" class="site-main outer about-us">
    <div id="projects" class="section">
        <div id="about" class="section">
            <div class="container">
                <h1 class="site-title">about us, feeka</h1>
                <p class="description">We are <span class="purple-bold">feeka</span>, a Portuguese company that develops technological solutions
                    focused on the client's opportunity with versatility, collaboration, innovation, and creativity. The
                    company, which started its work in 2019, has more than 30 employees and currently has partnerships
                    with companies Sonae BIT, Critical Manufacturing, ZOS Lda and Escola Global.</p>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-12 order-lg-1 order-2 info">
                    <h2>Mission</h2>
                    <p><span class="purple-bold">feeka</span> wants to create technological solutions towards diverse projects and ideas,
                        with a unique creative process and design thinking, while also striving for a strong
                        relationship with clients, making them an active part of the project.</p>
                </div>
                <div class="col-lg-6 col-md-12 order-lg-2 order-1">
                    <img class="img-fluid" src="{{asset "assets/images/mission.png"}}"></img>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-12">
                    <img class="img-fluid" src="{{asset "assets/images/vision.png"}}"></img>
                </div>
                <div class="col-lg-6 col-md-12 info">
                    <h2>Vision</h2>
                    <p><span class="purple-bold">feeka</span> wants to be an example in the field of technology, and aims to innovate in
                        the way it thinks and produces projects, making them relevant through time. It in-
                        tends to be a multitasked company with a global consciousness, versatility and in-
                        novation in everything it creates.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-12 order-lg-1 order-2 info">
                    <h2>Values</h2>
                    <p><b>Communication</b>: <span class="purple-bold">feeka</span> excels by its good communication both internally and ex-
                    ternally, which aims to boost productivity and relationships.</p>
                    <p><b>Collaboration</b>: Our clients are not only clients, but also partners. We believe that
                    together we can go further.</p>
                    <p><b>Creativity & Innovation</b>: Keeping ideas fresh, an open mind and a positive attitude
                    are important ingredients that spark creativity, versatility and innovation.</p>
                </div>
                <div class="col-lg-6 col-md-12 order-lg-2 order-1">
                    <img class="img-fluid" src="{{asset "assets/images/values.png"}}"></img>
                </div>
            </div>
        </div>
    </div>
</main>
