{{!< default}}

{{> "header"}}

<main id="site-main" class="site-main outer">
    <div class="inner">
        <div class="site-header-content">
            <h1 class="site-title">What are we doing?</h1>
            {{#tag}}
            <h2 class="site-description">
                {{#if name}}
                    {{name}}
                {{else}}
                    A collection of {{plural ../pagination.total empty='posts' singular='% post' plural='% posts'}}
                {{/if}}
            </h2>
            {{/tag}}
        </div>
    </div>

    <div class="inner">
        <div class="post-feed-tag">
            {{#foreach posts}}
                {{> "post-card"}}
            {{/foreach}}
        </div>
    </div>
</main>
