// FONTS
@import url('https://fonts.googleapis.com/css?family=Comfortaa|Roboto');

$comfortaa: 'Comfortaa', cursive;
$roboto: 'Roboto', sans-serif;

// COLORS
$primary-color: #481C51;
$secondary-color: #E1AE2C;