h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $comfortaa !important;
    color: $primary-color;
}

body,
span,
p {
    font-family: $roboto;
    color: black;
}

img {
    border-radius: 2%;
}

button.btn.btn-primary {
    background-color: $primary-color;
    font-family: $comfortaa;
    color: white;
    border-radius: 25px 25px;
    outline: none;
    border: none;
    cursor: pointer;
    text-decoration: none;
    padding: 0.5em 2em;
    transition: all .5s;
    &:hover {
        background-color: $secondary-color;
    }
    &:focus,
    &:active {
        box-shadow: none;
    }
}

.navbar {
    padding: 1.2em 4em !important;
    background-color: white;
    transition: all ease-in 0.3s;
    &.active {
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    }
    .navbar-brand * {
        width: 5em;
    }
    li {
        cursor: pointer;
        a {
            font-family: $comfortaa;
            color: $primary-color !important;
            text-transform: lowercase;
            font-size: 0.9em;
            margin-left: 1.4em;
            transition: all ease-out 0.2s;
            font-weight: bold;
            &:hover {
                color: $secondary-color !important;
            }
            &.disabled {
                color: grey !important;
                cursor: default;
            }
        }
        &.contact a {
            background-color: $primary-color;
            color: white !important;
            padding: 0.5em 2em !important;
            border-radius: 25px 25px;
            margin-left: 3em !important;
            &:hover {
                background-color: $secondary-color;
            }
        }
    }
}

// Anchor target offset fix
:target {
    display: block;
    position: relative;
    top: -120px;
    visibility: hidden;
}

.section {
    h1 {
        font-size: 3em;
        text-transform: lowercase;
        text-align: center;
    }
}

footer {
    margin: 20em 0 3em 0;
    h6 {
        font-weight: bold;
        text-transform: lowercase;
        margin-bottom: 1.5em;
    }
    i {
        color: $secondary-color;
        width: 1em;
        font-size: 1.1em;
    }
    p {
        margin: 0;
        padding-left: 1em;
        font-size: 0.9em;
    }
}