#banner {
    height: 100vh;
    h1 {
        font-size: 3em;
    }
    p {
        color: $secondary-color;
        padding-right: 8em;
    }
}

#about {
    p {
        padding: 0 10em;
        text-align: center;
    }
}

@media (max-width: 991.98px) {
    #banner {
        padding-top: 10em;
        height: auto;
    }
    #about {
        p {
            padding: 0;
        }
    }
}

@media (max-width: 767.98px) {
    #about {
        div[class^='col-']:not(:first-child) {
            margin-top: 4em;
        }
    }
}