
p {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: #000;
}

.title-purple {
    font-family: 'Comfortaa', sans-serif;
    font-size: 25px;
    color: #481C51;
}

.text-yellow {
    color: #E1AE2C
}

#main-title {
    margin-bottom: 0.5em;
}

.container {
    margin: 5em auto 1em auto;
}

#company-intro {
    height: auto;
    text-align: center;
    padding: 2em;
}


#company-intro > .row > * {
    text-align: left;
}

#about-us-parts [class*='col-']{
    margin-bottom: 3em;
}

#about-us-parts .card {
    padding: 1.5em;
    border-radius: 25px 25px;
    margin: auto;
    max-width: 19rem;
    height: 100%;
}

#about-us-parts .card .card-title {
    font-family: 'Comfortaa', sans-serif;
    font-size: 22px;
    color: #481C51;
}

#about-us-parts .card img {
    height: 217.617px;
}

#about-us-parts .card .card-body {
    padding: 1.5em 0 0 0;
}

#about-us-parts .card .card-text {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: #000;
}

@media (min-width: 768px) {
    p {
        font-family: 'Roboto', sans-serif;
        font-size: 17px;
        color: #000;
    }
    
    .title-purple {
        font-family: 'Comfortaa', sans-serif;
        font-size: 58px;
        color: #481C51;
    }

    #company-intro img{
        width: 100%;
        padding: 0;
    }
    
    #company-intro #company-paragraph {
        max-width: 23em;
    }

    #about-us {
        margin-bottom: 4em;
    }

    #about-us-parts .card {
        margin-bottom: 0;
    }

}
