#main-title {
    margin-bottom: 0.5em;
}
#about-us-parts [class*='col-']{
    margin-bottom: 3em;
}

#about-us-parts .card {
    padding: 1.5em;
    border-radius: 25px 25px;
    margin: auto;
    max-width: 19rem;
    height: 100%;
}

#about-us-parts .card .card-title {
    font-family: 'Comfortaa', sans-serif;
    font-size: 22px;
    color: #481C51;
}

#about-us-parts .card img {
    height: 217.617px;
}

#about-us-parts .card .card-body {
    padding: 1.5em 0 0 0;
}

#about-us-parts .card .card-text {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: #000;
}

@media (min-width: 768px) {
    
    #company-intro #company-paragraph {
        max-width: 23em;
    }

    #about-us-parts .card {
        margin-bottom: 0;
    }

}
