@import 'morphing';
@import 'variables';
@import 'global';
@import 'specific';

//delete import later
@import 'intro_about_us';

body {
    font-family: 'Comfortaa', cursive;
}

.btn.btn-primary {
    background-color: #481C51;
    border-color: #481C51;
    border-radius: 25px 25px;
}

img {
    border-radius: 2%;
}

.page-footer .footer-logo{
    max-width: 100%;
    height: auto;
}

.footer-title{
    font-family: 'Comfortaa', cursive;
    color: #481C51;
    font-weight: bolder;
}

.footer-navigation, .footer-contact{
    font-family: 'Roboto', sans-serif;
    color: black;
    p a {
        color: black;
    }
}

@media (max-width: 768px) {
    .footer-navigation{
        display: none;
    }

    .footer-contact{
        margin-left: 3em;
    }

    .footer-title{
        display:none;
    }

    .page-footer{
        font-size: 0.8em;
        padding: 0em 1em;
        img {
            width: 70%;
            height: 70%;
        }
    }
}
