p {
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    color: #000;
}

.title-purple {
    font-family: 'Comfortaa', sans-serif;
    font-size: 58px;
    color: #481C51;
}

.text-yellow {
    color: #E1AE2C
}

#main-title {
    margin-bottom: 0.5em;
}

.container { 
    margin: 12em auto;
}

.container#company-intro {
    max-width: 1440px;
    text-align: center;
}

.container#company-intro img{
    width: 100%;
}

.container#company-intro #company-paragraph {
    max-width: 23em;
}

.container#company-intro > .row > * {
    text-align: left;
}


.container#about-us {
    margin-bottom: 8em;
    text-align: center;
}

.container#about-us p {
    text-align: left;
    max-width: 32em;
    margin: auto;
}

.container#about-us-parts {
    margin-top: 8em;
    max-width: 1240px;
}
.container#about-us-parts .card {
    padding: 1em;
    border-radius: 25px 25px;
}

.container#about-us-parts .card .card-title {
    font-family: 'Comfortaa', sans-serif;
    font-size: 22px;
    color: #481C51;
}

.container#about-us-parts .card .card-text {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: #000;
}