@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Comfortaa|Roboto");
@font-face {
  font-family: "nexa_boldregular";
  font-weight: bold;
  font-style: normal;
  src: url("../fonts/nexa_boldfree_macroman/Nexa_Free_Bold-webfont.eot");
  src: url("../fonts/nexa_boldfree_macroman/Nexa_Free_Bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/nexa_boldfree_macroman/Nexa_Free_Bold-webfont.woff2") format("woff2"), url("../fonts/nexa_boldfree_macroman/Nexa_Free_Bold-webfont.woff") format("woff"), url("../fonts/nexa_boldfree_macroman/Nexa_Free_Bold-webfont.ttf") format("truetype"), url("../fonts/nexa_boldfree_macroman/Nexa_Free_Bold-webfont.svg#nexa_boldregular") format("svg");
}
*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  --text-color: #fff;
  --background-color: #fff;
  --background-color-2: #fff;
  --background-color-3: #fff;
  --link-color: #03b9f1;
  --link-hover-color: #fff;
  font-family: "Roboto Mono", monospace;
  font-weight: 500;
  color: #fff;
  color: var(--text-color);
  background-color: #481C51;
  background-color: var(--background-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  position: relative;
  width: 100%;
  overflow: hidden;
}

a {
  text-decoration: none;
  color: var(--link-color);
  outline: none;
}

a:hover,
a:focus {
  color: var(--link-hover-color);
  outline: none;
}

.hidden {
  position: absolute;
  overflow: hidden;
  width: 0;
  height: 0;
  pointer-events: none;
}

/* SVG Morph */
.morph-wrap {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
}

.morph {
  position: relative;
  height: 100%;
  fill: var(--background-color-2);
  flex: none;
}

.content-wrap {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  min-height: 600px;
  pointer-events: none;
}

.content--fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  min-height: 600px;
  z-index: 100;
  pointer-events: none;
  padding: 1.5em;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto auto 4em;
  grid-template-areas: "header ..." "... decotitle" "demos decotitle";
}

.content--fixed a {
  pointer-events: auto;
}

.content--layout {
  pointer-events: auto;
  justify-content: center;
  align-content: center;
  grid-template-columns: 150px 150px 150px 150px;
  grid-template-rows: 150px 75px 75px;
  grid-template-areas: "... title title title" "author ... desc desc" "author ... link link";
}

.content__img {
  grid-column: 1/3;
  grid-row: 1/3;
  opacity: 0.8;
  width: 300px;
  height: 300px;
}

.content__title {
  grid-area: title;
  font-family: "nexa_boldregular", sans-serif;
  letter-spacing: -0.025em;
  font-size: 8em;
  line-height: 160px;
  margin: 0;
  text-transform: lowercase;
  z-index: 10;
  cursor: default;
}

.content__author {
  grid-area: author;
  margin: 0;
  -webkit-writing-mode: vertical-lr;
  writing-mode: vertical-lr;
  padding: 1em;
  text-align: right;
  z-index: 10;
  cursor: default;
}

.content__desc {
  grid-area: desc;
  margin: 0;
  z-index: 10;
  padding: 0 1em;
  cursor: default;
}

.content__img,
.content__title,
.content__author,
.content__desc {
  transition: transform 0.3s ease-out;
}

.content__link {
  pointer-events: auto;
  grid-area: link;
  align-self: end;
  justify-self: start;
  z-index: 10;
  padding: 0 1em 0.15em;
}

.content__info {
  grid-column: 1/3;
}

.content__related-item {
  padding: 1em;
  transition: color 0.3s;
}

.content__related-img {
  max-width: 100%;
  opacity: 0.8;
  transition: opacity 0.3s;
}

.content__related-item:hover .content__related-img,
.content__related-item:focus .content__related-img {
  opacity: 1;
}

.content__related-title {
  font-size: 1em;
  margin: 0;
  padding: 0.5em;
}

/* Different layouts */
/* layout-2 */
.content--layout-2 {
  grid-template-areas: "... title title title" "desc desc ... author" "link link ... author";
}

.content--layout-2 .content__img {
  grid-column: 3/5;
  grid-row: 1/3;
}

.content--layout-2 .content__desc {
  text-align: right;
}

.content--layout-2 .content__link {
  justify-self: end;
}

.content--layout-2 .content__author {
  justify-self: end;
  align-self: start;
}

/* layout-3 */
.content--layout-3 {
  grid-template-rows: 75px 75px 150px;
  grid-template-areas: "... ... desc desc" "author title title title" "author ... link link";
}

.content--layout-3 .content__img {
  grid-column: 1/3;
  grid-row: 1/3;
}

.content--layout-3 .content__desc {
  align-self: end;
}

/* layout-4 */
.content--layout-4 {
  grid-template-areas: "title title title desc" "... author ... desc" "... author ... link";
}

.content--layout-4 .content__img {
  grid-column: 2/4;
  grid-row: 1/3;
}

.content--layout-4 .content__author {
  justify-self: start;
  align-self: start;
}

@media screen and (max-width: 50em) {
  .content--fixed {
    height: auto;
    min-height: 0;
    display: block;
    z-index: 1000;
    position: absolute;
  }
}
@media screen and (max-width: 40em) {
  .content--layout {
    transform: scale3d(0.8, 0.8, 1);
  }
}
@media screen and (max-width: 36em) {
  .content--layout {
    transform: scale3d(0.7, 0.7, 1);
  }
}
@media screen and (max-width: 32em) {
  .content--layout {
    transform: scale3d(0.6, 0.6, 1);
  }

  .content__author,
.content__desc,
.content__link {
    font-size: 1.35em;
  }
}
@media screen and (max-width: 28em) {
  .content--layout {
    transform: scale3d(0.5, 0.5, 1);
  }
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
}

q {
  quotes: "“" "”" "‘" "’";
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, select {
  text-transform: none;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], html input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Comfortaa", cursive !important;
  color: #481C51;
}

body,
span,
p {
  font-family: "Roboto", sans-serif;
  color: black;
}

img {
  border-radius: 2%;
}

button.btn.btn-primary {
  background-color: #481C51;
  font-family: "Comfortaa", cursive;
  color: white;
  border-radius: 25px 25px;
  outline: none;
  border: none;
  cursor: pointer;
  text-decoration: none;
  padding: 0.5em 2em;
  transition: all 0.5s;
}
button.btn.btn-primary:hover {
  background-color: #E1AE2C;
}
button.btn.btn-primary:focus, button.btn.btn-primary:active {
  box-shadow: none;
}

.navbar {
  padding: 1.2em 4em !important;
  background-color: white;
  transition: all ease-in 0.3s;
}
.navbar.active {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}
.navbar .navbar-brand * {
  width: 5em;
}
.navbar li {
  cursor: pointer;
}
.navbar li a {
  font-family: "Comfortaa", cursive;
  color: #481C51 !important;
  text-transform: lowercase;
  font-size: 0.9em;
  margin-left: 1.4em;
  transition: all ease-out 0.2s;
  font-weight: bold;
}
.navbar li a:hover {
  color: #E1AE2C !important;
}
.navbar li a.disabled {
  color: grey !important;
  cursor: default;
}
.navbar li.contact a {
  background-color: #481C51;
  color: white !important;
  padding: 0.5em 2em !important;
  border-radius: 25px 25px;
  margin-left: 3em !important;
}
.navbar li.contact a:hover {
  background-color: #E1AE2C;
}

button.navbar-toggler {
  font-family: "Comfortaa", cursive;
  text-transform: lowercase;
  font-size: 1em;
  background-color: #481C51;
  color: white !important;
  padding: 0.5em 1.5em !important;
  border-radius: 25px 25px;
  outline: none;
  transition: all 0.5s;
}
button.navbar-toggler:hover {
  background-color: #E1AE2C;
}

:target {
  display: block;
  position: relative;
  top: -120px;
  visibility: hidden;
}

.section h1 {
  font-size: 3em;
  text-transform: lowercase;
  text-align: center;
}

footer {
  margin: 20em 0 3em 0;
}
footer h6 {
  font-weight: bold;
  text-transform: lowercase;
  margin-bottom: 1.5em;
}
footer i {
  color: #E1AE2C;
  width: 1em;
  font-size: 1.1em;
}
footer p {
  margin: 0;
  padding-left: 1em;
  font-size: 0.9em;
}

@media (max-width: 991.98px) {
  .navbar {
    padding: 1.2em 2em !important;
  }
  .navbar li a {
    text-align: center;
    margin-left: 0;
    font-size: 1em;
    color: #481C51 !important;
  }
  .navbar li:first-child {
    margin-top: 1.5em;
  }
  .navbar li.contact a {
    background-color: transparent;
    color: #481C51 !important;
    padding: default;
    border-radius: 0;
    margin-left: 0 !important;
  }
  .navbar li.contact a:hover {
    background-color: transparent;
    color: #E1AE2C !important;
  }
}
#banner {
  height: 100vh;
}
#banner h1 {
  font-size: 3em;
}
#banner p {
  color: #E1AE2C;
  padding-right: 8em;
  font-size: 1.2em;
}

#about .description {
  padding: 0 7.8em;
  text-align: center;
}
#about #about-cards {
  margin: 6em 0 8em 0;
  position: relative;
}
#about #about-cards .card {
  padding: 1.5em;
  border-radius: 25px 25px;
  max-width: 20rem;
  height: 100%;
  margin: auto;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  border: none;
}
#about #about-cards .card img {
  height: 10em;
}
#about #about-cards .card .card-title {
  font-size: 1.4em;
}
#about #about-cards .card .card-body {
  padding-top: 2.5em;
}
#about #about-cards:before {
  content: "";
  display: inline-block;
  width: 100vw;
  height: 50vw;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  margin: auto;
  background-image: url("assets/svgRoxoDesktop.svg");
  top: 0;
  bottom: 0;
}
@media (min-width: 992px) {
  #about #about-cards:before {
    left: calc((960px - 100vw)/2 - 15px);
  }
}
@media (min-width: 1200px) {
  #about #about-cards:before {
    left: calc((1140px - 100vw)/2 - 15px);
  }
}

#projects .row {
  margin: 5em 0 8em 0;
  position: relative;
  min-height: 500px;
}
#projects button {
  margin-top: 2em;
  width: fit-content;
}
#projects .row:before {
  content: "";
  display: inline-block;
  width: 50vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
}
#projects .row:nth-child(even):before {
  right: 50%;
}
#projects .row:nth-child(odd):before {
  left: 50%;
  background-position: right;
}
#projects .row:nth-child(2):before {
  background-image: url("assets/svgLaranjaDesktop.svg");
  max-height: 600px;
}
#projects .row:nth-child(3):before {
  background-image: url("assets/svgVerdeDesktop.svg");
  max-height: 800px;
}
#projects .row:nth-child(4):before {
  background-image: url("assets/svgAzulDesktop.svg");
  max-height: 800px;
}
#projects .row:nth-child(5):before {
  background-image: url("assets/svgRosaDesktop.svg");
  max-height: 800px;
}
#projects .row div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media (max-width: 991.98px) {
  #banner {
    padding-top: 10em;
    height: auto;
  }
  #banner p {
    padding: 0 0 2em 0;
  }

  #about .description {
    padding: 0;
  }
  #about div[class^=col-]:not(:first-child) {
    margin-top: 4em;
  }

  #projects div[class=row]:nth-child(2n+1) div[class^=col-]:first-child {
    margin-top: 4em;
  }
  #projects div[class^=row]:nth-child(2n+2) div[class^=col-]:not(:first-child) {
    margin-top: 4em;
  }
}

/*# sourceMappingURL=style.css.map */
